#pup {
    position:absolute;
    z-index:200; /* aaaalways on top*/
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    width: 250px;
    border: 1px solid #222730;
    background-color: #4CAAB3;
    color: #222730;
    font-size: 0.95em;
  }

.section {
    width: 600px;
    position:relative
    left: 50px;
    background-color: #4CAAB3;
    color: #393E46;
}

body {
    background-color: #222730;
    color: #4CAAB3;

}