html {	
		font-family: sans-serif;
		color: #d6f5d6;
		background-color:  #7f8f86;
}

body {
    	width: 960px;
		min-height: 100%;
    	margin: 0 auto;
}

#navigation,
#content {
    	position: fixed;
    	background-color:  #aeb6bf;

}

#navigation {
		margin: 0 auto;
    	width: 990px;
    	top: 15px;
}

#content {
    	margin: 0 auto;
    	width: 960px;
    	top: 68px;
    	bottom: 60px;
    	padding: 20px 15px 20px 15px;
}

nav ul li {
    	display: inline-block;
		float: left;
}

nav ul {
    	margin: 0;
    	list-style-type: none;
}

nav li {
    	float: left;
    	padding: 10px;
    	text-align: center;
    	text-decoration: none;
    	width: 20%;
}

nav li a {
    	color: white;
    	text-decoration: none;
}

nav li a:hover {
    	color: green;
}

nav li a.active {
    	color: #003380;
}

main a {
    	color: white;
    	text-decoration: none;
}

main a:hover {
    	color: #99c2ff;
    	text-decoration: none;
}